<% if teacher_signed_in? %>
  <div class="item">
    <%= button_to 'Log out', destroy_teacher_session_path, method: :delete, class: 'ui negative button' %>
  </div>
<% else %>
  <div class="item">
    <%= link_to 'Log in', new_teacher_session_path, class: 'ui primary button', style: 'margin-right: 10px' %>

    <%= link_to 'Sign up as teacher', new_teacher_registration_path, class: 'ui button' %>
  </div>
<% end %>
