<tr class="center aligned">
  <td>
    <%= enrollment.course_title %><br>
    <i class="icon thumbs up"></i> <b><%= enrollment.course_cached_votes_up %></b>
  </td>
  <td>
    <%= enrollment.teacher_email %><br>
    <i class="icon thumbs up"></i> <b><%= enrollment.teacher_cached_votes_up %></b>
  </td>
</tr>
