<tr>
  <td>
    <%= enrollment.course_title %>
    <small><b>(<%= pluralize(enrollment.course_cached_votes_up, 'vote') %>)</b></small>
  </td>
  <td>
    <%= enrollment.teacher_email %>
    <small><b>(<%= pluralize(enrollment.teacher_cached_votes_up, 'vote') %>)</b></small>
  </td>
</tr>
