<h2 class="ui dividing header">Enrollments</h2>

<table class="ui celled table">
  <thead>
    <tr class="center aligned">
      <th>Course</th>
      <th>Teacher</th>
    </tr>
  </thead>
  <tbody>
    <%= render @dashboard.enrollments %>
  </tbody>
</table>

<%= link_to 'New enrollment', new_enrollment_path, class: 'ui positive button' if teacher_signed_in? %>
