<tr>
  <td>
    <%= teacher.email %>
    <small><b>(<%= pluralize(teacher.cached_votes_up, 'vote') %>)</b></small>
  </td>
  <td>
    <%= button_to 'Vote', vote_teacher_path(teacher) %>
  </td>
</tr>
