<h2 class="ui dividing header">Teachers</h2>

<table class="ui celled table">
  <thead>
    <tr class="center aligned">
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @dashboard.teachers %>
  </tbody>
</table>
