<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @dashboard.teachers %>
  </tbody>
</table>

<%= link_to 'New teacher', new_teacher_path %>
