<h2 class="ui dividing header">Courses</h2>

<table class="ui celled table">
  <thead>
    <tr class="center aligned">
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @dashboard.courses %>
  </tbody>
</table>

<%= link_to 'New course', new_course_path, class: 'ui positive button' if teacher_signed_in? %>
