<h2>Courses</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Votes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @dashboard.courses %>
  </tbody>
</table>

<%= link_to 'New course', new_course_path %>
